<section class="container pl-20 pr-20">
    <h4 class="mt-4">Track Specific Climate Actions Summary</h4>
  
  
  
    
       
   <div class="row">
  
  
    <div class="p-grid p-fluid card" >
      <p-table
            #table
            [value]="finalRecords"
           
          >
  
  
          <!-- [paginator]="true"
          [rows]="rows"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[1, 10, 25, 50]"
          [totalRecords]="totalRecords"
          [responsive]="true"
          [loading]="true" -->
            <!-- Table header start search -->
    
            <!-- <p-table #tt [value]="climateactions" [columns]="cols" placeholder="Global Filter" [filter]="true" filterMatchMode="contains" >                                                          
          <ng-template pTemplate="caption">
              <div style="text-align: right">        
                  <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" style="width:auto">
              </div>
          </ng-template> -->
    
            <!-- Table header END Search -->
    
            <ng-template pTemplate="header">
              <!-- <tr> 
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'climateActionName'" pInputText type="text"
                  (input)="dt.filter($event.target.value, col.field, 'contains')" />
              </th>
            </tr> -->
    
              <tr>
                
                <th>Assessment Year</th>
                <th>Generated Sectors</th>
                <th>Generated Date</th>
                <th>Actual Emission Reduction</th>
                <th>Expected Emission Reduction</th>
                <th>Info</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-finalRecords>
              <tr>
               
    
                <td>{{ finalRecords.Years }}</td>
                <td>{{ finalRecords.Sectors }}</td>
                <td>{{ finalRecords.GeneratedDate | date: "dd-MM-yyyy "}}</td>
                <td>{{ finalRecords.ActualEmissionReduction | number: '2.0-5' }}</td>
                <td>{{ finalRecords.ExpectedEmissionReduction | number: '2.0-5' }}</td>
                <td>
                  <table>
                      <tr>
                          <td>
                            
                            <button pButton pRipple type="button" label="View" class="p-button-info" (click)="sendDetails(finalRecords)"></button>
                
                          </td>
                      </tr>
                  </table>
              </td>
                
              </tr>
            </ng-template>
          </p-table>
      </div>
    <div class="p-grid p-fluid card">
      <div class="row p-2">
        <div class="col-12 col-md-10">

        </div>
        <div class="col-12 col-md-2">
          <button pRipple pButton type="button" (click)="generate()"
          class="btn btn-primary btn-block text-uppercase btn-lg" style="margin-left: 1%">
            Generate
        </button>
        </div>
      </div>
      
   </div>
   
   
  
  </div>
  
  </section>
  
  
  
  