<div class="container pl-20 pr-20">
  <h4 class="mt-4">All Specific Climate Actions</h4>
  <div class="p-grid p-fluid card">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="p-field" *ngIf="this.userRole != 'Institution Admin'">
          <label for="projStatus">Sector</label>
          <p-dropdown
            name="sectortype"
            [options]="sectorList"
            [(ngModel)]="searchBy.sector"
            #fsector="ngModel"
            [showClear]="true"
            [filter]="true"
            placeholder="Select .."
            optionLabel="name"
            (ngModelChange)="onSectorChange($event)"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-field">
          <label for="projStatus">Status</label>
          <p-dropdown
            name="statustype"
            [options]="projectStatusList"
            [(ngModel)]="searchBy.status"
            #fsector="ngModel"
            [showClear]="true"
            [filter]="true"
            placeholder="Select .."
            optionLabel="name"
            (ngModelChange)="onStatusChange($event)"
          >
          </p-dropdown>
        </div>
      </div>

      <div class="col-md-4">
        <div class="p-inputgroup pt-4">
          <input
            placeholder="Type Your Keyword"
            [(ngModel)]="searchBy.text"
            #nameClimate="ngModel"
            type="text"
            name="nameClimate"
            class="p-inputtext"
            pInputText
          />
          <button
            type="button"
            pButton
            pRipple
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <div class="col-12"></div>
      </div>
      <div class="col-md-4"></div>

      <div class="col-md-4"></div>
    </div>
    <div class="row p-2">
      <p-table
        #table
        [value]="climateactions"
        [lazy]="true"
        (onLazyLoad)="loadgridData($event)"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[1, 10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="col-sm-2" style="width: 70.666667%">
                <button
                  pRipple
                  class="fas fa-plus"
                  pButton
                  type="button"
                  style="background-color: #c6cfd7; border-color: transparent"
                  (click)="addproject()"
                >
                  <i
                    class="pi pi-plus"
                    style="font-size: 1rem; color: #000"
                  ></i>
                </button>
              </div>
            </th>
            <th>Specific Climate action</th>
            <th>Sector</th>
            <th>Status of the Project</th>
            <th>Project Proponent</th>
            <th>Date Updated</th>
            <ng-container *ngIf="this.loggedUser?.userType!?.id! == 1">
              <th>Approval Status</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-climateactions>
          <tr>
            <td>
              <i
                class="pi pi-eye"
                style="font-size: 1.5rem; color: #000; margin-left: 17%"
                (click)="detail(climateactions)"
              ></i>
            </td>

            <td>{{ climateactions.climateActionName }}</td>
            <td>{{ climateactions.sector?.name }}</td>
            <td>{{ climateactions.projectStatus?.name }}</td>
            <td>{{ climateactions.contactPersoFullName }}</td>
            <td>{{ climateactions.editedOn | date : 'yyyy-MM-dd' }}</td>
            <ng-container *ngIf="this.loggedUser?.userType!?.id! == 1">
              <td
                (mouseenter)="showDialog(climateactions)"
                (mouseleave)="hideDialog()"
                class="reasonDialog"
              >
                {{
                  climateactions.projectApprovalStatus?.id == undefined ||
                  climateactions.projectApprovalStatus?.id == 4
                    ? 'Proposed'
                    : climateactions.projectApprovalStatus.id == 3
                    ? 'Data Requested'
                    : climateactions.projectApprovalStatus.id == 1
                    ? 'Accept'
                    : climateactions.projectApprovalStatus.id == 5
                    ? 'Active'
                    : 'Reject'
                }}
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="{{ this.titleInDialog }}"
  [(visible)]="display"
  [style]="{ width: '40vw' }"
>
  {{ this.reason }}
</p-dialog>
