$site-yellow-100 : #FFFFF0;
$site-yellow-200 : #FEFCBF;
$site-yellow-300 : #FFC400;
$site-yellow-400 : #D69E2E;

$site-purple-100 : #667EEA;
$site-purple-200 : #3C366B;
$site-purple-300 : #474EE0;
$site-purple-400 : #4C51BF;
$site-purple-500 : #3366FF;
$site-purple-600 : #5A67D8;
$site-purple-700 : #A3BFFA;
$site-purple-800 : #434190;


$site-black-100 : #1A202C;

$site-gray-100 : #E2E8F0;
$site-gray-200 : #A0AEC0;
$site-gray-300 : #747373;
$site-gray-400 : #4A5568;
$site-gray-500 : #E4E9F2;
$site-gray-600 : #F7F9FC;
$site-gray-700 : #718096;

$site-green-100 : #81E6D9;
$site-green-200 : #38B2AC;
$site-green-300 : #2C7A7B;
$site-green-400 : #319795;
$site-green-500 : #33BEBA;
$site-green-600 : #68D391;

$site-white-100 : #FFFFFF;

$site-red-100 : #ff1744;

