$site-yellow-100: #fffff0;
$site-yellow-200: #fefcbf;
$site-yellow-300: #ffc400;
$site-yellow-400: #d69e2e;

$site-purple-100: #667eea;
$site-purple-200: #3c366b;
$site-purple-300: #474ee0;
$site-purple-400: #4c51bf;
$site-purple-500: #3366ff;
$site-purple-600: #5a67d8;
$site-purple-700: #a3bffa;
$site-purple-800: #434190;

$site-black-100: #1a202c;

$site-gray-100: #e2e8f0;
$site-gray-200: #a0aec0;
$site-gray-300: #747373;
$site-gray-400: #4a5568;
$site-gray-500: #e4e9f2;
$site-gray-600: #f7f9fc;
$site-gray-700: #718096;

$site-green-100: #81e6d9;
$site-green-200: #38b2ac;
$site-green-300: #2c7a7b;
$site-green-400: #319795;
$site-green-500: #33beba;
$site-green-600: #68d391;

$site-white-100: #ffffff;

$site-red-100: #ff1744;
