<div class="p-grid p-fluid card" *ngIf="type === 'parameter'">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <p-radioButton name="groupname" [value]="true" [(ngModel)]="isEnterData"></p-radioButton>
                </div>
                <div class="col-10">
                    <label style="padding-top: 8px">Enter correct data</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-1">
                    <p-radioButton name="groupname" [value]="false" [(ngModel)]="isEnterData"></p-radioButton>
                </div>
                <div class="col-11">
                    <label style="padding-top: 8px">Assign data provider</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-grid p-fluid card">
    <div>
        <div class="row" *ngIf="isEnterData && type === 'parameter'  && !parameter.isDefault && !parameter.isHistorical">
            <label for="value">Correct value</label>
            <p-inputNumber type="number" name="value" [(ngModel)]="correctValue" placeholder="Enter value"
                mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"></p-inputNumber>
        </div>
        <div class="row" *ngIf="isEnterData && type === 'parameter' && parameter.isDefault && !parameter.isHistorical">
            <label for="value">Select correct value</label>
            <p-dropdown name="unitType" [options]="defaultValues" [(ngModel)]="selectedDefault" [showClear]="true"
                [filter]="true" placeholder="Select .." optionLabel="name" appendTo="body">
            </p-dropdown>
        </div>
        <div class="row" *ngIf="isEnterData && type === 'parameter' && !parameter.isDefault && parameter.isHistorical">
            <label for="value">Select correct value</label>
            <p-dropdown name="unitType" [options]="historicalValues" [(ngModel)]="selectedHistoricalValue" [showClear]="true"
                [filter]="true" placeholder="Select .." optionLabel="label" appendTo="body">
            </p-dropdown>
        </div>
        <div class="row" *ngIf="!isEnterData && type === 'parameter'">
            <label for="">Institution</label>
            <p-dropdown name="unitType" [options]="instiTutionList" [(ngModel)]="selectedInstitution" [showClear]="true"
                [filter]="true" placeholder="Select .." optionLabel="name" appendTo="body">
            </p-dropdown>
        </div>
        <div class="row" *ngIf="type === 'ndc'">
            <label for="">Aggregated Action</label>
            <p-dropdown name="ndc" [options]="ndcList" [(ngModel)]="selectedNdc" [showClear]="true" [filter]="true"
                placeholder="Select .." optionLabel="name" appendTo="body">
            </p-dropdown>
        </div>
        <br>
        <div class="row" *ngIf="type === 'parameter'">
            <label>Unit</label>
            <p-dropdown name="unitType" [options]="unitList" [(ngModel)]="correctUnit" [showClear]="true"
                [filter]="true" placeholder="Select .." optionLabel="ur_fromUnit" appendTo="body">
            </p-dropdown>
        </div>
        <div class="row" *ngIf="type === 'ndc'">
            <label>Action Area</label>
            <p-dropdown name="subNdc" [options]="selectedNdc === undefined ? [] : selectedNdc.subNdc"
                [(ngModel)]="selectedSubNdc" [showClear]="true" [filter]="true" placeholder="Select .."
                optionLabel="name" appendTo="body">
            </p-dropdown>
        </div>
        <div class="row" *ngIf="type === 'result'">
            <label>Comment</label>
            <textarea name="scopeTA" class="form-control" class="form-control" style="width: 100%" pInputTextarea
                [(ngModel)]="resultComment" #fscope="ngModel" [rows]="5" [cols]="30" required
                maxlength="500"></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5 d-flex align-items-end">
                <button [disabled]="checkEnable()" class="btn btn-primary text-uppercase" type="submit"
                    (click)="sendValueForVerification(isEnterData)">
                    {{getSubmitLabel()}}
                </button>
            </div>
        </div>
    </div>
</div>