<div class="container">
  <h4 class="mt-4">
    {{
      this.assementYear !== undefined
        ? "Verification " +
          VerificationStatusEnum[this.assementYear.verificationStatus]
        : "Verification "
    }}
  </h4>
  <div class="p-grid p-fluid card">
    <div class="row mb-3">
      <div class="col-md-10">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">Specific Climate Action</label>
            <input
              [disabled]="true"
              type="text"
              name="ndc"
              #chgEmission="ngModel"
              [(ngModel)]="assementYear.assessment.project?.climateActionName!"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <div class="col-12" *ngIf="flag != 1">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            (click)="detail(assementYear.assessment.project)"
            class="p-button-rounded p-button-text"
          ></button>
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="this.assementYear.assessment.assessmentType != 'MAC'">
      <div class="col-md-4">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">Aggregated Actions</label>
            <input
              [disabled]="true"
              type="text"
              name="ndc"
              #chgEmission="ngModel"
              [(ngModel)]="assementYear.assessment?.ndc!?.name!"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">Action Areas</label>
            <input
              [disabled]="true"
              type="text"
              name="subNDc"
              #chgEmission="ngModel"
              [(ngModel)]="assementYear.assessment?.subNdc!?.name!"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-end" *ngIf="flag != 1">
        <div
          class="col-12"
          *ngIf="this.assementYear.assessment.assessmentType != 'MAC' && verificationService.checkStatus(verificationStatus)"
        >
          <button
            type="button"
            [disabled]="isNdcDisable"
            pButton
            pRipple
            (click)="parameterAccept(true, false,false)"
          >
            {{isNdcAccepted == true?'Accepted':'Accept'}}
          </button>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-end" *ngIf="flag != 1">
        <div
          class="col-12"
          *ngIf="this.assementYear.assessment.assessmentType != 'MAC' && verificationService.checkStatus(verificationStatus)"
        >
          <button
            type="button"
            [disabled]="isNdcDisableReject"
            pButton
            pRipple
            (click)="raiseConcern(true, false, false)"
          >
            Raise Concern
          </button>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-10">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">Assessment Type</label>
            <input
              [disabled]="true"
              type="text"
              name="ndc"
              #chgEmission="ngModel"
              [(ngModel)]="assementYear.assessment?.assessmentType!"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="assementYear.assessment.assessmentType != 'MAC' ">
      <div class="col-md-5">
        <div class="col-5">
          <label> <strong>Emission Reduction </strong> </label>
          <input
              [disabled]="true"
              type="number"
              name="ereduction"
              #ereduction="ngModel"
              [(ngModel)]="assessmentResult?.totalEmission!"
              class="p-inputtext"
              pInputText
            />
        </div>
      </div>
    </div>

    <div class="row mb-3" *ngIf="assementYear.assessment.assessmentType != 'MAC' ">
      <div class="col-md-5">
        <div class="col-5">
          <label> <strong>Base Year </strong> </label>
          <input
              [disabled]="true"
              type="text"
              name="baseasseYear"
              #baseasseYear="ngModel"
              [(ngModel)]="assementYear.assessment.baseYear!"
              class="p-inputtext"
              pInputText
            />
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="col-12">
          <div class="p-field">
            <label for="Year">Year</label>
            <input
              type="text"
              name="yaer"
              #chgEmission="ngModel"
              [(ngModel)]=" assementYear.assessmentYear"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
    </div>



    <!-- <div class="row mb-3" *ngIf="this.assementYear.assessment.assessmentType != 'MAC'">
      <div class="col-md-5">
        <div class="col-5">
          <label> Base Year - {{ assementYear.assessment.baseYear }} </label>
        </div>
      </div>
    </div> -->

    <!-- <div class="row mb-3">
      <div class="col-md-5">
        <div class="col-5">
          <label for="projStatus"><strong>Assessment Year</strong></label
          >
          <input
              [disabled]="true"
              type="text"
              name="asseYear"
              #asseYear="ngModel"
              [(ngModel)]="assementYear.assessmentYear!"
              class="p-inputtext"
              pInputText
            />
        </div>
      </div>
    </div> -->

    <div class="row mb-3" *ngIf="this.assementYear.assessment.assessmentType != 'MAC'">
      <div class="col-md-8">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">Methodology</label>
            <input
              [disabled]="true"
              type="text"
              name="meth"
              #chgEmission="ngModel"
              [(ngModel)]="assementYear.assessment.methodology?.displayName!"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-end" *ngIf="flag != 1">
        <div
          class="col-12"
          *ngIf="this.assementYear.assessment.assessmentType != 'MAC' && verificationService.checkStatus(verificationStatus)"
        >
          <button
            type="button"
            pButton
            [disabled]="isMethodology"
            pRipple
            (click)="parameterAccept(false, true, false)"
          >
            {{isMethodology ? "Accepted" : "Accept"}}
          </button>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-end" *ngIf="flag != 1">
        <div
          class="col-12"
          *ngIf="this.assementYear.assessment.assessmentType != 'MAC' && verificationService.checkStatus(verificationStatus)"
        >
          <button
            type="button"
            [disabled]="isMethodologyReject"
            pButton
            pRipple
            (click)="raiseConcern(false, true,false)"
          >
            Raise Concern
          </button>
        </div>
      </div>
      <!-- <div class="col-md-2">
        <div class="col-12">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            (click)="detail()"
            class="p-button-rounded p-button-text"
          ></button>
        </div>
      </div> -->
    </div>

    <div class="row mb-3" *ngIf="this.assementYear.assessment.assessmentType != 'MAC'">
      <div class="col-md-10">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">The Objective of Assessment</label>
            <input
              [disabled]="true"
              type="text"
              name="meth"
              #chgEmission="ngModel"
              [(ngModel)]="assessmentObjective"
              class="p-inputtext"
              pInputText
            />
          </div>
        </div>
      </div>
      <!-- <div class="col-md-2">
        <div class="col-12">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            (click)="detail()"
            class="p-button-rounded p-button-text"
          ></button>
        </div>
      </div> -->
    </div>

    <div class="row mb-3">
      <app-verify-parameter-section
        header="Baseline Parameter"
        [assessmentYear]="assementYear"
        [scenario]="assementYear.assessment.baselineScenario"
        [parameters]="baselineParameters"
        ResultLabel="Baseline emission"
        [ResultValue]="assessmentResult?.baselineResult |  number: '1.0-5'"
        [verificationDetails]="verificationDetails"
        [isBaseline]="true"
        [isAccept]="isBaseAccept"
        [flag]="flag"
        [verificationStatus] ="verificationStatus"
      ></app-verify-parameter-section>
    </div>

    <div class="row mb-3">
      <app-verify-parameter-section
        header="Project Parameter"
        [assessmentYear]="assementYear"
        [scenario]="assementYear.assessment.projectScenario"
        [parameters]="projectParameters"
        ResultLabel="Project emission"
        [ResultValue]="assessmentResult?.projectResult"
        [verificationDetails]="verificationDetails"
        [isProject]="true"
        [isAdmin]="false"
        [isAccept]="isProjectAccept"
        [flag]="flag"
        [verificationStatus] ="verificationStatus"
      ></app-verify-parameter-section>
    </div>

    <div class="row mb-3">
      <app-verify-parameter-section
        *ngIf="lekageParameters.length > 0"
        header="Leakage Parameter"
        [assessmentYear]="assementYear"
        [scenario]="assementYear.assessment.lekageScenario"
        [parameters]="lekageParameters"
        ResultLabel="Leakage emission"
        [ResultValue]="assessmentResult?.lekageResult"
        [verificationDetails]="verificationDetails"
        [isLekage]="true"
        [flag]="flag"
        [isAccept]="isLeckegeAccept"
        [verificationStatus] ="verificationStatus"
      ></app-verify-parameter-section>
    </div>

    <div class="row mb-3">
      <app-verify-parameter-section
        *ngIf="projectionParameters.length > 0"
        header="Projection Parameter"
        [assessmentYear]="assementYear"
        [scenario]=""
        [parameters]="projectionParameters"
        ResultLabel="Projected Emission Reduction"
        [multiResult]="true"
        [ResultValue]="projectionResult[0]"
        [verificationDetails]="verificationDetails"
        [isProjection]="true"
        [flag]="flag"
        [isAccept]="isProjectionAccept"
        [verificationStatus] ="verificationStatus"
      ></app-verify-parameter-section>
    </div>

    
    <div class="container pl-20 pr-20">
      <h4 class="mt-4">Assumption</h4>
      <div class="p-grid p-fluid card">
        <div class="row p-2">
        <div class="col-8">
          <div class="p-field">
            <textarea
              
              name="RelevantindirectSD"
              placeholder="Assumptions for the assessment appear here"
              [(ngModel)]="this.assementYear.assessmentAssumption!"
              [readonly]="true"
              rows="5"
              cols="62"
              pInputTextarea
              autoResize="autoResize"
              class="p-inputtext"
            ></textarea>
          </div>
        </div>
        

        <div class="col-2">
          
          <button *ngIf="verificationService.checkStatus(verificationStatus)"
          type="button"
          [disabled]="isAssumptions"
          pButton
          pRipple
          (click)="parameterAccept(false,false,true)"
        >
         {{isAssumptionAccepted ? "Accepted" :"Accept" }} 
        </button>
        </div>
        <div class="col-2">
          <button *ngIf="verificationService.checkStatus(verificationStatus) "
            type="button"
            [disabled]="isAssumptionsReject"
            pButton
            pRipple
            (click)="raiseConcern(false, false,true)"
          >
            Raise Concern
          </button>
         </div>
        </div>
      </div>
    </div>    

    <!-- <div class="row mb-3">
      <app-parameter-summary
        *ngIf="projectionParameters.length > 0"
        header="Projection Parameter"
        [scenario]=""
        [assessmentYearId]="assesMentYearId"
        [parameters]="projectionParameters"
      ></app-parameter-summary>
    </div> -->

    <div class="row mb-3">
      <div
        class="d-flex justify-content-end align-content-center flex-wrap mb-15 mr-10"
      >
        <button
          class="btn btn-primary text-uppercase"
          type="submit"
          (click)="back()"
        >
          Back
        </button>
        <button
          class="btn btn-primary text-uppercase ml-5"
          type="submit"
          (click)="toNonConformance()"
        >
          Report
          <!-- {{parameters.find(m => m.parameterRequest.qaStatus !== 4) === undefined ? 'Calculate' :  'Submit'}} -->
        </button>
      </div>
    </div>
  </div>
  <p-toast position="top-right"></p-toast>
</div>

<p-dialog
  header="Raise Concern"
  [(visible)]="displayConcern"
  appendTo="body"

>
<div class="container" style="width: 600px; height: 500px">
  <app-raise-concern
    [area]="raiseConcernSection"
    [verificationDetails]="concernVerificationDetails"
    [assesmentYear]="assementYear"
    [isNdC]="concernIsNdC"
    [isMethodology]="concernIsMethodology"
    [isAssumption]="concernIsAssumption"
    (onCompleteConcern)="onComplete($event)"
  ></app-raise-concern>

</div>
  <!-- <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayConcern = false"
      label="Complete"
      styleClass="p-button-text"
    ></p-button>
  </ng-template> -->
</p-dialog>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
