<div class="container pl-20 pr-20">
  <div class="mb-12">
    <h4 class="mt-4">{{ isNewUser ? "Create" : "Edit" }} User</h4>
  </div>
  <form #fLogin="ngForm" (ngSubmit)="saveUser(fLogin)" novalidate>
    <div class="card">
      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field" *ngIf="!isNewUser">
              <label for="institution">Assign Institution *</label>
              <p-dropdown name="institution" [options]="institutions" [(ngModel)]="user.institution"
                #finstitution="ngModel" [filter]="true" placeholder={{user.institution.name}} optionLabel="name"
                (ngModelChange)="onInstitutionChange($event)" appendTo="body"></p-dropdown>
              <p class="info-message text-danger" *ngIf="
                  !user.institution.id &&
                  (fLogin.submitted ||
                    finstitution.touched ||
                    finstitution.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field" *ngIf="isNewUser">
              <label for="institution">Assign Institution *</label>
              <p-dropdown name="institution" [options]="institutions" [(ngModel)]="user.institution"
                #finstitution="ngModel" [filter]="true" placeholder={{user.institution.name}} optionLabel="name"
                (ngModelChange)="onInstitutionChange($event)" appendTo="body"></p-dropdown>
              <p class="info-message text-danger" *ngIf="
                  !user.institution.id &&
                  (fLogin.submitted ||
                    finstitution.touched ||
                    finstitution.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field" *ngIf="isNewUser">
              <label for="contatname">User Type*</label>
              <p-dropdown [options]="selectedUserTypesFordrop" name="usertype" [(ngModel)]="selecteduserType"
                placeholder="select..." optionLabel="ae_name" #fut="ngModel"></p-dropdown>

              <p class="info-message text-danger" *ngIf="
                  !selecteduserType?.ae_id &&
                  (fLogin.submitted || fut.touched || fut.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
            <div class="p-field" *ngIf="!isNewUser">
              <label for="contatname">User Type*</label>
              <p-dropdown [options]="selectedUserTypesFordrop" name="usertype" [(ngModel)]="selecteduserType"
                placeholder="{{ user.userType.name }}" optionLabel="ae_name" #fut="ngModel"></p-dropdown>

              <p class="info-message text-danger" *ngIf="
                  !selecteduserType?.ae_id &&
                  (fLogin.submitted || fut.touched || fut.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">
              <label for="firstname">First Name *</label>
              <input type="text" name="firstname" class="form-control" [(ngModel)]="user.firstName" #ffn="ngModel"
                placeholder="Enter the first name" required />
              <p class="info-message text-danger" *ngIf="
                  !user.firstName &&
                  (fLogin.submitted || ffn.touched || ffn.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">
              <label for="lastname">Last Name *</label>

              <input type="text" name="lastname" class="form-control" [(ngModel)]="user.lastName" #fln="ngModel"
                placeholder="Enter the last name" required />
              <p class="info-message text-danger" *ngIf="
                  !user.lastName &&
                  (fLogin.submitted || fln.touched || fln.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">
              <label for="email">Email *</label>

              <input [disabled]="!isNewUser" type="email" name="email" class="form-control" [(ngModel)]="user.email"
                #femail="ngModel" placeholder="Enter the email" pattern="[\w-\.]+@([\w-]+\.)+[\w-]{1,20}$" required />
              <p class="info-message text-danger" *ngIf="
                  (!user.email || femail.invalid) &&
                  (fLogin.submitted || femail.touched || femail.dirty)
                ">
                This is a mandatory field
              </p>
              <p class="info-message text-danger" *ngIf="isEmailUsed">
                Email address is already in use, please use a diffrent email
                address to add a new user.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">
              <label for="email">Designation *</label>

              <input [disabled]="!isNewUser" type="text" name="designation" class="form-control"
                [(ngModel)]="user.designation" #fdesignation="ngModel" placeholder="Enter the Designation" required />
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">
              <label for="institution">Landline *</label>
              <input type="text" name="telephone" [(ngModel)]="user.telephone" #ftelephone="ngModel"
                placeholder="011 111 1111" class="p-inputtext" pInputText required />
              <p class="info-message text-danger" *ngIf="
                  (!user.telephone) &&
                  (fLogin.submitted || ftelephone.touched || ftelephone.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid p-fluid col-md-9 col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-8">
            <div class="p-field">
              <label for="mobile">Mobile *</label>

              <input type="text" name="mobile" [(ngModel)]="user.mobile" placeholder="011 111 1111" class="p-inputtext"
                pInputText required #fmobile="ngModel" />
              <p class="info-message text-danger" *ngIf="
                  (!user?.mobile ) &&
                  (fLogin.submitted || fmobile.touched || fmobile.dirty)
                ">
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="info-message text-danger ml-5 col-6" *ngIf="fLogin.submitted && !fLogin.valid">
          One or more mandatory fields should be filled before save action.
        </p>
      </div>
    </div>
    <div>
      <div class="d-flex flex-row-reverse mt-2 mb-2">
        <button [disabled]="coreatingUser || user.canNotDelete == true"
          class="btn btn-primary btn-block text-uppercase m-1" type="submit">
          Save
        </button>

        <button *ngIf="!isNewUser" [disabled]="user.canNotDelete == true"
          class="btn btn-primary btn-block text-uppercase m-1" type="button" (click)="onDeleteClick()">
          {{user.status?'Activate':'Deactivate'}}
        </button>
        <button class="btn btn-primary btn-block text-uppercase m-1" (click)="onBackClick()">
          Back
        </button>

        <div *ngIf="coreatingUser" class="d-flex col-6 justify-content-end">
          <p class="info-message text-warning mt-2" *ngIf="true">
            please wait a moment...
          </p>
        </div>
      </div>
    </div>
  </form>
  <p-toast position="top-right"></p-toast>
</div>

<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>