<div class="container pl-20 pr-20">
  <div class="mb-12">
    <h4 class="mt-4">
      {{ isNew ? 'Add' : 'View' }} Institution
      {{ internalTeam ? '/ Internal Team' : '' }}
    </h4>
  </div>

  <form #fData="ngForm" (ngSubmit)="saveForm(fData)" novalidate>
    <div class="card">
      <div class="p-grid p-fluid col-sm-12">
        <div class="row p-2">
          <div class="col-12 col-md-6">
            <div class="p-field">
              <label for="type">Type*</label>
              <p-dropdown
                appendTo="body"
                [disabled]="institutionId > 0"
                placeholder="Select"
                [(ngModel)]="intype"
                name="type"
                [options]="selectedTypeList1"
                optionLabel="name"
                #instype="ngModel"
                (ngModelChange)="onInstitutionChange($event)"
              >
              </p-dropdown>
              <p
                class="info-message text-danger"
                *ngIf="
                  !intype &&
                  (fData.submitted || instype.touched || instype.dirty)
                "
              >
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-12 col-md-6">
            <div class="p-field">
              <label for="sector">Sector*</label>
              <p-dropdown
                [disabled]="institutionId > 0"
                placeholder="Select"
                [(ngModel)]="insector"
                name="sector"
                [options]="sectorList"
                optionLabel="name"
                #inssec="ngModel"
              >
              </p-dropdown>
              <p
                class="info-message text-danger"
                *ngIf="
                  !insector &&
                  (fData.submitted || inssec.touched || inssec.dirty)
                "
              >
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
        <div class="row p-2">
          <div class="col-12 col-md-6">
            <div class="p-field">
              <label for="category">Category*</label>
              <p-dropdown
                placeholder="Select"
                [disabled]="institutionId > 0"
                [(ngModel)]="incategory"
                name="category"
                [options]="categoryList"
                optionLabel="name"
                #inscat="ngModel"
              >
              </p-dropdown>
              <p
                class="info-message text-danger"
                *ngIf="
                  !incategory &&
                  (fData.submitted || inscat.touched || inscat.dirty)
                "
              >
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-12 col-md-6">
            <div class="p-field">
              <label for="name">Name*</label>
              <input
                [disabled]="institutionId > 0"
                type="text"
                placeholder=""
                name="name"
                [(ngModel)]="inname"
                class="p-inputtext"
                #insname="ngModel"
                pInputText
                required
                (ngModelChange)="onInstitutionNameChange($event)"
              />

              <p
                class="info-message text-danger"
                *ngIf="
                  !inname &&
                  (fData.submitted || insname.touched || insname.dirty)
                "
              >
                This is a mandatory field
              </p>
              <p class="info-message text-danger" *ngIf="insName">
                This name is already exist
              </p>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-12 col-md-6">
            <div class="p-field">
              <label for="emailin">Email*</label>
              <input
                [disabled]="institutionId > 0"
                pattern="[\w-\.]+@([\w-]+\.)+[\w-]{1,30}$"
                type="text"
                maxlength="30"
                placeholder="Email"
                name="email"
                #emailin="ngModel"
                class="p-inputtext"
                pInputText
                [(ngModel)]="inmail"
                required
              />

              <p
                class="info-message text-danger"
                *ngIf="
                  !inmail &&
                  (fData.submitted || emailin.touched || emailin.dirty)
                "
              >
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-12 col-md-6">
            <div class="p-field">
              <label for="objective">Contact Number*</label>
             
            <input
              type="text"
              name="telephone"
              [(ngModel)]="intelephoneNumber"
              #telephoneNumber="ngModel"
              placeholder="011 111 1111"
              class="p-inputtext"
              pInputText
              required
            />
          <p
          class="info-message text-danger"
          *ngIf="
            !intelephoneNumber &&
            (fData.submitted || telephoneNumber.touched || telephoneNumber.dirty)
          "
          >
          This is a mandatory field
        </p>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-12 col-md-12">
            <div class="p-field">
              <label for="description">Description</label>
              <textarea
                [disabled]="institutionId > 0"
                name="description"
                placeholder=""
                [(ngModel)]="indescription"
                rows="5"
                cols="130"
                pInputTextarea
                autoResize="autoResize"
                class="p-inputtext"
              >
              </textarea>
            </div>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-12 col-md-12">
            <div class="p-field">
              <label for="objective">Address*</label>
              <textarea
                [disabled]="institutionId > 0"
                name="objective"
                placeholder=""
                [(ngModel)]="inaddress"
                rows="5"
                cols="130"
                pInputTextarea
                autoResize="autoResize"
                class="p-inputtext"
                #address="ngModel"
              >
              </textarea>
              <p
                class="info-message text-danger"
                *ngIf="
                  !inaddress &&
                  (fData.submitted || address.touched || address.dirty)
                "
              >
                This is a mandatory field
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row-reverse mt-2 mb-2">
      <button
        class="btn btn-primary btn-block text-uppercase ml-10"
        (click)="onBackClick()"
        label="Back"
      >
        Back
      </button>
      <button
        [hidden]="institutionId > 0"
        pRipple
        [disabled]="isSaving"
        [disabled]="insName"
        class="btn btn-primary btn-block text-uppercase ml-10"
        type="submit"
        label="Save"
      >
        Save
      </button>
    </div>

    <div class="d-flex flex-row-reverse mt-2 mb-2">
      <button
        *ngIf="institutionId > 0 && institution.status === 0"
        pButton
        pRipple
        class="btn btn-primary btn-block text-uppercase ml-10"
        (click)="activateInstitution(institution)"
      >
        Deactivate
      </button>

      <button
        *ngIf="institutionId > 0 && institution.status === 1"
        pButton
        pRipple
        class="btn btn-primary btn-block text-uppercase ml-10"
        (click)="activateInstitution(institution)"
      >
        Activate
      </button>
    </div>

    <div class="d-flex flex-row-reverse mt-2 mb-2">
      <button
        *ngIf="institutionId > 0"
        pRipple
        class="btn btn-primary btn-block text-uppercase ml-10"
        type="edit"
        (click)="edit(institution)"
      >
        Edit
      </button>
    </div>
  </form>

  <p-toast position="top-right"></p-toast>
  <p-toast
    position="bottom-center"
    key="c"
    (onClose)="onReject()"
    [baseZIndex]="5000"
  >
  </p-toast>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<p-overlayPanel
  #op
  [showCloseIcon]="true"
  [style]="{ width: '50vw' }"
  (onShow)="OnShowOerlay()"
></p-overlayPanel>
