.icon-24x24{
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    display: inline-flex;
    background-size: contain;
}
.icon-24x26{
    background-repeat: no-repeat;
    height: 26px;
    width: 24px;
    display: inline-flex;
    background-size: contain;
}
.icon-32x24{
    background-repeat: no-repeat;
    height: 24px;
    width: 32px;
    display: inline-flex;
    background-size: contain;
}
.isa-icon{
}
.sipp-icon{
}
.cash-icon{
}