<div class="container pl-20 pr-20">
  <h4 class="mt-4">Activity log</h4>
  <div class="p-grid p-fluid card">
    <div class="row mb-3">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="p-inputgroup pt-4">
          <input
            placeholder="Type Your Keyword"
            [(ngModel)]="searchBy.text"
            #nameClimate="ngModel"
            type="text"
            name="nameAudit"
            class="p-inputtext"
            pInputText
          />
          <button
            type="button"
            pButton
            pRipple
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <div class="col-12">
          <div class="p-field">
            <label for="projStatus">User Type</label>
            <p-dropdown
              name="usertype"
              [options]="userTypeList"
              [(ngModel)]="searchBy.usertype"
              #fsector="ngModel"
              [showClear]="true"
              [filter]="true"
              placeholder="Select .."
              appendTo="body"
              (ngModelChange)="onUTChange($event)"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="p-field">
          <label for="projStatus">Date</label>
          <p-calendar
            appendTo="body"
            placeholder="DD/MM/YYYY"
            dateFormat="dd/mm/yy"
            #propsedDate="ngModel"
            [(ngModel)]="searchBy.editedOn"
            (ngModelChange)="ondateChange($event)"
            [maxDate]="Date"
          ></p-calendar>
        </div>
      </div>

      <div class="col-md-4">
        <div class="p-field">
          <label for="projStatus">Status</label>
          <p-dropdown
            name="activitytype"
            [options]="status"
            [(ngModel)]="searchBy.activity"
            #fsector="ngModel"
            [showClear]="true"
            [filter]="true"
            placeholder="Select .."
            appendTo="body"
            (ngModelChange)="onactivityChange($event)"
          >
          </p-dropdown>
        </div>
      </div>
    </div>

    <div
      [ngStyle]="{ 'margin-bottom': itemsPerPage === 1 ? '100px' : 'unset' }"
    >
      <p-table
        #table
        [value]="activities"
        [lazy]="true"
        (onLazyLoad)="loadgridData($event)"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        paginatorDropdownAppendTo="body"
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>User Type</th>
            <th>Activity</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-activities>
          <tr>
            <td>{{ activities.userName }}</td>
            <td>{{ activities.userType }}</td>
            <td>{{ activities.action }}</td>
            <td>{{ activities.editedOn | date : 'dd-MM-yyyy ' }}</td>
            <td>{{ activities.editedOn | date : 'h:mm:ss a' }}</td>

            <td>{{ activities.actionStatus }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
