<section class="container pl-20 pr-20">
  <h4 class="mt-4">Status of Data Request</h4>

  <div class="p-grid p-fluid card" [style]="{ overflow: 'visible' }">
    <div class="row p-2">
      <div class="col-12 col-md-6"></div>
      <div class="col-12 col-md-6">
        <div class="p-inputgroup pb-4">
          <label for="namemethodology"></label>
          <input
            placeholder="Type Your Keyword"
            [(ngModel)]="searchBy.text"
            #namemethodology="ngModel"
            type="text"
            name="namemethodology"
            class="p-inputtext"
            pInputText
          />
          <button
            type="button"
            pButton
            pRipple
            label="Search"
            (click)="onSearch()"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <p-table
        #dt
        #table
        [value]="datarequests"
        [lazy]="true"
        (onLazyLoad)="loadgridData($event)"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="['10', '25', '50']"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Specific Climate Action</th>
            <th>Assessment Type</th>
            <th>Assessment Year</th>
            <th>Total Data Requests</th>
            <th>Pending Data Requests</th>
            <th>Pending Data Entries</th>
            <th>Received</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datarequests>
          <tr>
            <td>{{ datarequests.name }}</td>
            <td>{{ datarequests.type }}</td>
            <td>{{ datarequests.year }}</td>
            <td>{{ datarequests.totalreqCount }}</td>
            <td>{{ datarequests.pendingreqCount }}</td>
            <td>{{ datarequests.pendingdataentries }}</td>
            <td>{{ datarequests.recieved }}</td>
            <td>
              <button
                pRipple
                pButton
                type="button"
                (click)="directToApprovePage(datarequests)"
                [disabled]="
                  datarequests.qaStatus == 4 || datarequests.qaStatus == 1
                "
                class="btn btn-primary btn-block text-uppercase btn-lg"
                style="margin-left: 1%"
              >
                 {{
                  datarequests.qaStatus == 4 || datarequests.qaStatus == 1
                    ? 'Approved Data'
                    : 'Approve Data'
                }}
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>
