<div class="container pl-20 pr-20">
    <h4 class="mt-4">Sectors</h4>
    <div class="p-grid p-fluid card">
  
      <div class="row mb-3">
        
        <div class="col-md-6">
  
        </div>
  
        <div class="col-md-6">
          <div class="p-inputgroup pt-4">
            <input placeholder="Type Your Keyword" [(ngModel)]="searchBy.text" #nameClimate="ngModel" type="text"
              name="nameClimate" class="p-inputtext" pInputText />
            <button type="button" pButton pRipple label="Search" (click)="onSearch()"></button>
          </div>
        </div>
       
        
        <!-- <div> {{climateactions|json}} </div> -->
        <div class="row p-2 mt-4">
          <p-table 
          [value]="sectorsList"
          [lazy]="true"
          (onLazyLoad)="loadgridData($event)"
          [paginator]="true"
          [rows]="rows"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Entries"
          [rowsPerPageOptions]="[1, 10, 25, 50]"
          [totalRecords]="totalRecords"
          [loading]="loading"
          [responsive]="true"
          [rowHover]="true"
          dataKey="id"
          >
            
    
            <ng-template pTemplate="header">
              
              <tr>
                <th>Sector</th>
                <th>Description</th>
                <th>Sub Sectors</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sec>
              
                <tr>
                    <td>{{ sec.name }}</td>
                    <td>{{ sec.description }}</td> 
                    <td>{{getSubSectors(sec.subSector)}}</td>
                </tr>
              
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  
