<p class="mb-35">
  Enter details below to
  <span href="javascript:void(0)" class="text-info font-weight-bold"
    >reset the password</span
  >
  of your account.
</p>

<form #fFP="ngForm" autocomplete="off">
  <div class="form-group mb-25">
    <label class="font-weight-bold">Email </label>
    <input
      type="email"
      class="form-control"
      [(ngModel)]="email"
      name="email"
      #emailInput="ngModel"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,}$"
      [ngClass]="{
        'form-control--error':
          (emailInput.errors && (emailInput.touched || emailInput.dirty)) ||
          (emailInput.errors?.['required'] && isSubmitLogin)
      }"
      required
      placeholder="Enter the Email Address"
    />
    <p
      class="info-message text-danger"
      *ngIf="(emailInput.errors?.['required'] && (emailInput.touched || emailInput.dirty)) || (emailInput.errors?.['required'] && isSubmitLogin) "
    >
      Email is required
    </p>
    <p
      class="info-message text-danger"
      *ngIf="
        (!emailInput.errors?.['required'] &&
          emailInput.invalid &&
          (emailInput.touched || emailInput.dirty)) ||
        (!emailInput.errors?.['required'] && emailInput.invalid && isSubmitLogin) "
    >
      Invalid email address
    </p>
  </div>
  <p>
    <a href="javascript:void(0)" (click)="showLogin()" class="text-info"
      >Back to login</a
    >
  </p>
  <p class="info-message text-info" *ngIf="jobDone">
    Your password reset request has been sent to your registered email address
    with us.
  </p>
  <button
    class="btn btn-primary btn-block text-uppercase btn-lg mt-35"
    type="submit"
    (click)="resetPassword()"
  >
    Send
  </button>
</form>
