<div class="container pl-20 pr-20">
    <div class="mb-12">
      
      <h4 class="mt-4"> Edit institution </h4>
    </div>

    <!-- <div> {{institution|json}} </div> -->
    <form #fData="ngForm" (ngSubmit)="saveForm(fData)" novalidate>
   
      <div class="card">
        <div class="p-grid p-fluid col-sm-12">
          
          <div class="row p-2">
             
   
            <div class="col-12 col-md-6">
              <div class="p-field">
                <label for="type">Type*</label>
                <p-dropdown
                appendTo="body"
                placeholder="Select"
                  [(ngModel)]="institution.type"
                  name = "type"
                  [options]="typeList"
                  [autoDisplayFirst]="false"
                  optionLabel="name"
                  [disabled]="institutionId > 0"
                  
                  ></p-dropdown>
                
              </div>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-12 col-md-6">
              <div class="p-field">
                <label for="sector">Sector*</label>
                <p-dropdown
                
                  placeholder=""
                  [(ngModel)]="institution.sector"
                  name="sector"
                  [options]="sectorList"
                  optionLabel="name"
                  [disabled]="institutionId > 0"

                ></p-dropdown>
               
              </div>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-12 col-md-6">
              <div class="p-field">
                <label for="category">Category*</label>
                <p-dropdown
                
                placeholder="Select"
                  [(ngModel)]="institution.category"
                  name="category"
                  [options]="categoryList"
                  [autoDisplayFirst]="false"
                  optionLabel="name"
                  #inscat="ngModel"
                  
                  

                ></p-dropdown>
                <p
                class="info-message text-danger"
                *ngIf="
                  !institution.category &&
                  (fData.submitted || inscat.touched || inscat.dirty)
                "
                >
                This is a mandatory field
              </p>
              </div>
            </div>
          </div>
          
          <div class="row p-2">
            <div class="col-12 col-md-6">
              <div class="p-field">
                <label for="projScope">Name*</label>
                <input
               
                  type="text"
                  placeholder=""
                  name="projScope"
                  [(ngModel)]="institution.name"
                  class="p-inputtext"
                  #insname="ngModel"
                  required

                  pInputText
                />
                <p
                class="info-message text-danger"
                *ngIf="
                  !institution.name &&
                  (fData.submitted || insname.touched || insname.dirty)
              "
              >
                This is a mandatory field
              </p>
              </div>
            </div>
          </div>


          <div class="row p-2">
            <div class="col-12 col-md-6">
              <div class="p-field">
                <label for="emailin">Email</label>
                <input
                  pattern="[\w-\.]+@([\w-]+\.)+[\w-\.]{1,30}$"
                  type="text"
                  maxlength="30"
                  placeholder="Email"
                  name="email"
                  #emailin="ngModel"
                  class="p-inputtext"
                  pInputText
                  [(ngModel)]="institution.email"
                  required
                />

                <p
                class="info-message text-danger"
                *ngIf="
                  !institution.email &&
                  (fData.submitted || emailin.touched || emailin.dirty)
                "
                >
                This is a mandatory field
              </p>
  
              </div>
            </div>
          </div>
  
  
          <div class="row p-2">
            <div class="col-12 col-md-6">
              <div class="p-field">
                <label for="objective">Contact Number*</label>
                 
                <p-inputMask
                type="text"
                placeholder="{{telephone}}"
                mask="{{mask}}"
                name="telephoneNumber"
                #telephoneNumber="ngModel"
              
                [(ngModel)]="institution.telephoneNumber"
                [styleClass]="'form-control'"
                [autoClear]="false"
                

                
              >

              <p
              class="info-message text-danger"
              *ngIf="
                !institution.telephoneNumber &&
                (fData.submitted || telephoneNumber.touched || telephoneNumber.dirty)
              "
              >
              This is a mandatory field
            </p>
            </p-inputMask>
            <p class="info-message text-danger" *ngIf="institution.telephoneNumber!.indexOf('_') > 0">
              A valid telephone number is required.
            </p>
              </div>
            </div>
          </div>

          <div class="row p-2">
            <div class="col-12 col-md-12">
              <div class="p-field">
                <label for="objective">Description</label>
                <textarea
             
                  name="description"
                  placeholder=""
                  [(ngModel)]="institution.description"
                  rows="5"
                  cols="130"
                  pInputTextarea
                  autoResize="autoResize"
                  class="p-inputtext"
                ></textarea>
              </div>
            </div>
          </div>


          <div class="row p-2">
            <div class="col-12 col-md-12">
              <div class="p-field">
                <label for="objective">Address</label>
                <textarea
                
                  name="objective"
                  placeholder=""
                  [(ngModel)]="institution.address"
                  rows="5"
                  cols="130"
                  pInputTextarea
                  autoResize="autoResize"
                  class="p-inputtext"
                ></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <!-- <div class="d-flex col-1 justify-content-start"> -->
        <div class="d-flex flex-row-reverse mt-2 mb-2">

        <button
        class="btn btn-primary btn-block text-uppercase ml-10"
        (click) = "onBackClick()"
        >
          Back
        </button>

        <button
          pRipple
          [disabled]="isSaving"
          class="btn btn-primary btn-block text-uppercase"
          type="submit"
        >
          Save
        </button>
        
      </div>


     
    </form>

    <p-toast position="top-right"></p-toast>
    <p-toast
      position="bottom-center"
      key="c"
      (onClose)="onReject()"
      [baseZIndex]="5000"
    >
      <!-- <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
            <h4>{{ message.summary }}</h4>
            <p>{{ message.detail }}</p>
          </div>
          <div class="p-grid p-fluid">
            <div class="p-col-6">
              <button
                type="button"
                pButton
                (click)="onConfirm()"
                label="Yes"
                class="p-button-success"
              ></button>
            </div>
          </div>
        </div>
      </ng-template> -->
    </p-toast>
    <!-- <p-confirmDialog
      
      
    ></p-confirmDialog> -->
    <p-overlayPanel
      #op
      [showCloseIcon]="true"
      [style]="{ width: '50vw' }"
      (onShow)="OnShowOerlay()"
    ></p-overlayPanel>
 
</div> 
 
 