<div class="container pl-20 pr-20">
    <h4 class="mt-4">Verification</h4>
    <div class="p-grid p-fluid card">
  
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="col-12">
            <div class="p-field">
              <label for="prStatus">Status</label>
              <p-dropdown
              name="projStatus"
              [(ngModel)]="searchBy.status"
              [options]="verificationStatus"
              #projStatus="ngModel"
              [showClear]="true"
              [filter]="true"
              placeholder="Select .."
              (ngModelChange)="onStatusChange($event)"
              appendTo="body"
            >
            </p-dropdown>
  
            </div>
          </div>
        </div>
      
        <div class="col-md-6">
          <div class="p-inputgroup pt-4">
            <input
             placeholder="Type Your Keyword" 
            [(ngModel)]="searchBy.text"
            #nameClimate="ngModel"
             type="text"
              name="nameClimate" 
              class="p-inputtext" 
              
              pInputText />
            <button type="button" pButton pRipple label="Search" (click)="onSearch()"></button>
          </div>
        </div>
      </div>
  
  
      <!-- <div> {{climateactions|json}} </div> -->
      <div class="row p-2">
        <p-table 
        #table
        [value]="paras"
         [lazy]="true" 
         (onLazyLoad)="loadgridData($event)"
         [paginator]="true"
          [rows]="rows" 
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Entries"
          paginatorDropdownAppendTo="body"
          [rowsPerPageOptions]="[1, 10, 25, 50]" 
          [totalRecords]="totalRecords" 
          [loading]="loading" 
          [responsive]="true">
  
  
          <ng-template pTemplate="header">
  
            <tr>
  
              <th>
                  <div class="col-sm-2" style="width: 70.666667%">
                    
                  </div>
              </th> 
          
              <th>Specific Climate Action</th>
              <th>Assessment Type</th>
              <th>Assessment Year</th>
              <th>Verification Status</th>
              <th>Verification Updated Date</th> 
              <th>Verification Deadline</th> 
              <th>
                <div class="col-sm-2" style="width: 70.666667%">
                  
                </div>
            </th> 

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-c>
           
          
            <ng-container *ngIf="c?.verificationStatus !=6 && c?.verificationStatus !=7">
              <tr>
                
                <td style="text-align: center"> 
                   
                </td>

                  <td>{{ c?.assessment.project.climateActionName}}</td>
                  <td>{{ c?.assessment?.assessmentType }}</td> 
                  <td>{{ c?.assessmentYear }}</td> 

                  


                  
                    <td> {{ 
                        c.verificationStatus === 3 ?'NC Sent':VerificationStatusEnum[c?.verificationStatus]
                    }}
                   </td>
                  


                
                 

                   
                   <td>{{ c?.editedOn | date: "yyyy-MM-dd "}}</td> 
                   <td>{{ c?.verificationDeadline | date: "yyyy-MM-dd " }}</td>
                  <td>
                    <table>
                        <tr>
                            <ng-container *ngIf="c?.verificationStatus == 1">
                            <td>
                              
                              <button pButton pRipple type="button" label="Send" (click)="statusClick($event, c)" class="p-button-info"></button>
                  
                            </td>
                           </ng-container>
                           <ng-container *ngIf="c?.verificationStatus == 6 || c?.verificationStatus == 3 || c?.verificationStatus === 8">
                            <td>
                              
                              <button pButton pRipple type="button" label="View" (click)="statusClick($event, c)" class="p-button-info"></button>
                  
                            </td>
                           </ng-container>
                           <ng-container *ngIf="c?.verificationStatus == 2 || c?.verificationStatus == 4 || c?.verificationStatus == 5 || c?.verificationStatus == 7">
                            <td>
                              
                              <button pButton pRipple type="button" label="Verify" (click)="statusClick($event, c)" class="p-button-info"></button>
                  
                            </td>
                           </ng-container>
  
  
                        </tr>
                    </table>
                  </td>
                  
              </tr>
            </ng-container>  
           
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  