<div *ngIf="indtituteadmin">
    <div class="dahsboard-header">
        <h1>Hello Institute Admin !</h1>
        <h2>We are on a mission to help take actions against climate change.</h2>
    </div>
    <div class="dashboard-wrapper container pl-20 pr-20">
        <div class="row">
            <div class="col-md-4">
            <div class="card">
                <h6>Sample Widget</h6>
            </div>
            </div>
            <div class="col-md-8">
            <div class="card">
                <h6>Sample Widget</h6>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <div class="card">
                <h6>Sample Widget</h6>
            </div>
            </div>
            <div class="col-md-6">
            <div class="card">
                <h6>Sample Widget</h6>
            </div>
            </div>
        </div>
    </div>
</div>

<div>
   <app-ca-sa-dashboard>  </app-ca-sa-dashboard> 
</div>