<div class="p-grid p-fluid card">
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="col-12">
        <div>
          <label for="projStatus">Non Conformance No :</label>
          <label for="projStatus">{{ verificationRound }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-12">
        <div>
          <label for="projStatus">Area :</label>
          <label for="projStatus">{{ area }}</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-12">
        <div>
          <label for="projStatus">Date :</label>
          <label for="projStatus">{{
            lastConcernDate | date : 'yyyy-MM-dd '
          }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="col-12">
        <div>
          <label for="projStatus">Explanation :</label>
          <label for="projStatus">{{ explanation }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div
      class="d-flex justify-content-start align-content-center flex-wrap mb-15"
    >
      <div class="col-12">
        <div class="p-field">
          <label for="scopeTA">Root Cause</label>
          <textarea
            name="scopeTA"
            class="form-control"
            class="form-control"
            style="width: 100%"
            pInputTextarea
            [(ngModel)]="rootCause"
            #fscope="ngModel"
            [rows]="5"
            [cols]="30"
            required
            maxlength="500"
          ></textarea>
          <p class="info-message text-danger" *ngIf="rootCausetRequried">
            This is a mandatory field
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div
      class="d-flex justify-content-start align-content-center flex-wrap mb-15"
    >
      <div class="col-12">
        <div class="p-field">
          <label for="scopeTA">Corrective Action</label>
          <textarea
            name="scopeTA"
            class="form-control"
            class="form-control"
            style="width: 100%"
            pInputTextarea
            [(ngModel)]="correctiveAction"
            #fscope="ngModel"
            [rows]="5"
            [cols]="30"
            required
            maxlength="500"
          ></textarea>
          <p class="info-message text-danger" *ngIf="correctiveActionRequried">
            This is a mandatory field
          </p>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-end align-content-center flex-wrap mb-15 mr-10"
    >
      <button class="btn btn-primary text-uppercase" (click)="onComplete()">
        Complete
      </button>
    </div>
  </div>
</div>
