<section class="container pl-20 pr-20">
  <h4 class="mt-4">Track Specific Climate Actions Summary</h4>

  <div class="row">
    <div class="p-grid p-fluid card">
      <p-table #table [value]="finalRecords">
        <ng-template pTemplate="header">
          <tr>
            <th>AssessmentYear</th>
            <th>Generated Sectors</th>
            <th>Generated Date</th>
            <th>Actual Emission Reduction</th>
            <th>Expected Emission Reduction</th>
            <th>Info</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-finalRecords>
          <tr>
            <td>{{ finalRecords.Years }}</td>
            <td>{{ finalRecords.Sectors }}</td>
            <td>{{ finalRecords.GeneratedDate | date : 'dd-MM-yyyy ' }}</td>
            <td>{{ finalRecords.ActualEmissionReduction }}</td>
            <td>{{ finalRecords.ExpectedEmissionReduction }}</td>
            <td>
              <table>
                <tr>
                  <td>
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="View"
                      class="p-button-info"
                      (click)="sendDetails(finalRecords)"
                    ></button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-grid p-fluid card">
      <button
        pRipple
        pButton
        type="button"
        (click)="generate()"
        class="btn btn-primary btn-block text-uppercase btn-lg"
        style="margin-left: 1%"
      >
          Generate
      </button>
    </div>
  </div>
</section>
